.ta-c {
    text-align: center !important
}

.ta-l {
    text-align: left !important;
}

.ta-r {
    text-align: right !important;
}

.m-auto {
    margin: auto !important;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

